{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <h2 id="song"></h2>
        <div id="time"></div>
        <div>
            <ul id="clues"></ul>
        </div>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <h3>Latest Guesses:</h3>
        <div id="latest_guesses"></div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="leave_room();">Leave Room</a>
            </li>
        </ul>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/room.js') }}"></script>
{{super()}}
{% endblock %}
