{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="container jumbotron text-center">
            <h1 id="song" class="jumbotron-heading"></h1>
            <p id="time" class="lead text-muted"></p>
        </div>
        <div class="container">
            <div id="clues" class="row"></div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  <textarea id="chat" class="form-control" readonly></textarea>
                </div>
                <div class="col-sm-6">
                    <p>Latest Guesses</p>
                    <ul id="latest_guesses" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="input-group col-sm-12">
              <div class="input-group-prepend">
                <span class="input-group-text">Make A Guess</span>
              </div>
              <input id="text" size="80" placeholder="Enter Guess Here" type="text" class="form-control">
            </div>
        </div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/room.js') }}"></script>
{{super()}}
{% endblock %}
